$font:'Arial', 'Helvetica';

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	background: transparent;
	display: block;
	overflow: hidden;
}

#partialBillingCalculator {
    position: relative;
    padding-bottom: 100px;
    margin-right: 10px;
    min-height: 120px;
    margin-bottom: 100px;

	.progressBar {
		font-family: $font;
		background: #fff;
		color: #000;
		margin-bottom: 0px;
		padding: 10px 0px;
		overflow: hidden;
		border:2px solid #000;
		border-top:8px solid #000;
		box-shadow: 0px 1px 5px rgba(0,0,0,0.5);

		.stepIndicator {
			position: absolute;
			top: 48px;
			width: 23%;
			margin-left:1%;
			height: 6px;
			left: 0%;
			transition: all .6s;
			line-height:0px;

			&:after {
				content: '';
				display: block;
				background: #4CAF50;
				position: absolute;
				width: 100%;
				height: 6px;
			}
		}
		.step {
			width: 21%;
			height: 18px;
			color: #bbb;
			padding: 4px 2%;
			display: block;
			float: left;
			text-align: center;
			position: relative;
			font-size: 12pt;

			&.active {
				font-weight: bold;
				color: #000;
			}
			&:last-child:after {
				display: none;
			}
		}
	}

	.stepWrapper {
		position: relative;

		.step {
			margin-bottom: 20px;
			box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
			position: absolute;
			width: 100%;
			background: #fff;

			&#step2,
			&#step3,
			&#stepTotal {
				display: none;	
			}
			button {
				cursor: pointer;
			}
			.stepBody {
				padding: 20px 30px 40px 30px;
				border-top: 0px;

				.instructions {
					font-family: $font;
					font-weight: 600;
					color: #000;
					font-size: 18px;

					button.help {
						border: 0px;
						line-height: 24px;
						font-size: 14px;
						text-align: center;
						text-decoration: underline;
						color: #286ee5;
						background:transparent;
						display: block;
						padding:0px;

						&:hover {
							background: #286ee5;
							color: #fff;
						}
					}
				}
				.errorWrapper {
					display: none;
					margin: -15px 0px 10px 0px;

					.errorMessage {
						display: inline-block;
						font-family: $font;
						font-size: 11pt;
						font-weight: 500;
						color: #B71C1C;
						border: 1px solid;
						padding: 3px 10px 3px 33px;
						//margin-right: 100px;

						&:before {
							content: '!';
							background: #B71C1C;
							color: #fff;
							display: inline-block;
							position: absolute;
							padding: 3px 10px;
							margin: -3px -33px;
						}	
					}
				}
				.formElements {
					display: table;

					label {
						width: 1px;
						height: 1px;
						display: block;
						position: absolute;
						overflow: hidden;
					}
					.unit {
						 position: absolute;
						 height: 24px;
						 font-family: $font;
						 font-size: 20px;
						 color: #777;
						 margin-top: 5px;
					}
					input {
						height: 24px;
						padding: 6px 12px;
						font-size: 14px;
						line-height: 1.42857143;
						color: #000;
						background-color: #fff;
						background-image: none;
						border: 0px;
						border-bottom: 2px solid #666;
						border-radius: 0px;
						width: 60px;
						font-size: 20px;
						margin-right: 22px;
						&:focus {
							border-bottom: 4px solid #286ee5;
						}
						&#totalDue {
					    	padding-left: 15px;
						}
					}
					button {
						float: right;
						display: inline-block;
						height: 40px;
						border: 0px;
						padding: 0px 20px;
						border-radius: 8px;
						background: #286ee5;
						color: #fff;
						box-shadow: 0px 1px 1px rgba(0,0,0,.75);
						font-size: 16px;
						font-weight: bold;

						&.reset {
						    background: #333;
						    width: 100px;
						    position: absolute;
						    bottom: 20px;
						    right: 20px;
						}
						&:hover {
							background: #1d3aed;
						}
					}
				}
			}
		}
	}

	.amountDue {
		font-family: $font;
		font-size: 30pt;
		font-weight: 700;
		color: #43A047;

		@media (min-width:768px) {
			font-size: 36pt;
		}
	}

}

.helpModal {
	display: none;
	position: absolute;
	background: rgba(0,0,0,0.75);
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 150;
	text-align: center;

	.modalContent {
		background: #000;
		margin: 10% auto;
		position: relative;
		border: 2px solid #000;
		display: inline-block;
		box-shadow: 0px 1px 20px rgba(0,0,0,0.75);

		@media (min-width: 768px) {
			max-width: 75%;
		}
		button {
			position: absolute;
			right: 0px;
			background: #000;
			border: 0px;
			color: #fff;
			padding: 15px 15px;
			font-weight: bold;

			&:hover {
				background: #fff;
				color: #000;
				cursor: pointer;
			}
		}
		img {
			display: block;
			max-width: 100%;
			max-height: 100%;
		}
		.caption {
			bottom: 0px;
			left: 0px;
			position: absolute;
			z-index: 40;
			display: block;
			background: #ff0000;
			color: #fff;
			padding: 15px;
			font-family: $font;
			box-shadow: 0px 1px 15px rgba(0,0,0,0.75);
		}
	}
}




